body {
  background-color: #fef9ef;
}
h1 {
  color: #ff865e;
}

h3 {
  color: #a2d2ff;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 7px;
  border-color: #fee440;
}
